:root{
    --header-font: 'Karla', sans-serif;
    --non-header-font: 'Inter', sans-serif;
}

body {
    margin: 0;
    background-color: #1F2937;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordgen-container {
    background-color: #1F2937;
    max-width: 550px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 50px;
    flex-wrap: wrap;
}

#passwordgen-header {
    color: #FFF;
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 5px;
    line-height: 40px;
}

#randpass-highlight {
  
    color: #4ADF86;
    display: block;
}

#header-slogan {
    margin-top: 5px;
    margin-bottom: 50px;
    color: #D5D4D8;
    font-weight: 400;
    font-family: var(--non-header-font);
}

#passw-gen {
    background-color: #10B981;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-family: var(--non-header-font);
    padding: 10px 15px 10px 15px;
    justify-content: center;
    align-items: center;
    
}

#passw-gen:hover {
    background-color: #17e6a1;
}

#passw-gen:active {
    background-color: #0d8d62;
}

#horizontal-line{
    width: 100%;
    height: 0px;
    border: 1px solid #2F3E53;
    margin-bottom: 35px;
    margin-top: 35px;
}

.generated-passwords {
    color: #55F991;
    font-family: var(--non-header-font);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.password {
    display: flex;
    width: 211px;
    height: 39px;
    background-color: #273549;
    border-radius: 6px;
    justify-content: space-around;
    align-items: center;
}

